%p#notice= notice

%p
  %b Code:
  = @show.code
%p
  %b Title:
  = @show.title
%p
  %b Description:
  = @show.description
%p
  %b Release:
  = @show.release

= link_to 'Edit', edit_show_path(@show)
\|
= link_to 'Back', shows_path
