%h1 #{@user.name} profile
.row
  .col-sm-3
    %p
      %b Name:
      = @user.name
    %p
      %b Email:
      = @user.email

    %p
      %b Birthdate:
      = @user.birthdate

    %b= link_to 'Followers: '+@user.followers.length.to_s, user_followers_path(@user.id)
    %br
    %br
    %b= link_to 'Following: '+@user.followed.length.to_s, user_following_path(@user.id)
    %br
    %br

    - if current_user?(@user)
      = link_to 'Edit your profile', edit_user_path(current_user), :class => "btn btn-primary btn-whitelink"

    - if not current_user?(@user)
      - if (@relationship = current_user.followship(@user)) == nil
        = link_to 'Follow', relationships_path(:followed=>@user), :class => "btn btn-primary btn-whitelink btn-block"
      - else 
        = link_to 'Unfollow', relationship_path(@relationship), :class => "btn btn-primary btn-danger btn-block", :method=>:delete    
  