%p#notice= notice

%p
  %b Login:
  = @user.login
%p
  %b Email:
  = @user.email
%p
  %b Password digest:
  = @user.password_digest
%p
  %b Remember digest:
  = @user.remember_digest
%p
  %b Name:
  = @user.name
%p
  %b Birthdate:
  = @user.birthdate

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
